# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim tmp files
*.swp

#JAR dependencies
jar/

# Go binaries
runner/cmd/runner
sample/sample

# Log files
log*
