# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim tmp files
*.swp

# mac files
*.DS_Store

#JAR dependencies
jar/

# Go binaries
jar-download/jar-download
runner/cmd/runner
sample/sample
integration-tests/test-app/test_app

# Log files
*log*
